    <div class="main_content">
      <h1>Angela Perez</h1>
      <h2>I'm a junior web developer in the big city.</h2>
      <div class="slider_container">
        <ul class="slider clearfix">
          <li class="slide-1"></li>
          <li class="slide-2"></li>
          <li class="slide-3"></li>
        </ul>
      </div>
      <div class="info_container">
        <ul class="info clearfix">
          <li class="slide-3">
            <strong>Who I Am</strong>
          <p> 
          </li>
          <li>
            <strong>What I Do</strong>
          <p> I love Ruby, JavaScript, and SQL. I want to work on projects that will explore my creativity while fulfilling all the requirements.</p>
          </li>
          <li>
            <strong>Where I Do It</strong>
          <p> All of my old haunts.
          </li>
        </ul>
      </div>
    </div>
    <div class="recent_work_container">
      <ul class="recent_work clearfix">
        <li><a href="#"><img src="http://lorempixel.com/200/200/technics/1" /></a></li>
        <li><a href="#"><img src="http://lorempixel.com/200/200/technics/2" /></a></li>
        <li><a href="#"><img src="http://lorempixel.com/200/200/technics/3" /></a></li>
        <li><a href="#"><img src="http://lorempixel.com/200/200/technics/4" /></a></li>
        <li><a href="#"><img src="http://lorempixel.com/200/200/technics/5" /></a></li>
        <li><a href="#"><img src="http://lorempixel.com/200/200/technics/6" /></a></li>
        <li><a href="#"><img src="http://lorempixel.com/200/200/technics/7" /></a></li>
        <li><a href="#"><img src="http://lorempixel.com/200/200/technics/9" /></a></li>
      </ul>
    </div>
    <a href="#" class="cta">Contact Me!</a>
